In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import scipy
from pylab import rcParams
rcParams['figure.figsize'] = 13,6
data = pd.read_csv('Netology_A_B-testing_HW_1.csv')
pd.options.display.max_rows = 1000

In [3]:
data_city_center_order = data.loc[data['city_center_order'] == 1]
data_city_center_order

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
1,1,2020-05-23,752172,5,1,1,1,no surge,1,0,37,Android,1,economy,2.908468,high
3,3,2020-05-19,304024,0,1,1,1,no surge,1,0,59,Android,1,economy,1.874349,low
5,5,2020-05-21,139455,5,1,0,0,NaN,0,0,60,Android,1,comfort,NaN,low
6,6,2020-05-24,416988,0,1,1,0,no surge,0,0,65,iOS,1,comfort,7.535725,low
7,7,2020-05-22,682337,2,1,1,1,no surge,1,0,40,Android,1,comfort,9.055344,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101490,101490,2020-05-20,780673,20,1,1,0,surge,0,0,67,Android,1,comfort,5.439498,medium
101491,101491,2020-05-21,456333,10,1,1,1,no surge,1,0,34,Android,1,business,16.003392,high
101493,101493,2020-05-19,326217,4,1,1,1,no surge,0,1,26,iOS,1,business,14.090248,low
101494,101494,2020-05-21,203176,17,1,1,0,surge,0,0,69,iOS,1,economy,5.314341,low
101496,101496,2020-05-19,627754,2,1,1,1,surge,1,0,23,iOS,1,comfort,6.206134,medium

In [4]:
half = len(data_city_center_order['user_cancelled']) / 2
sam1 = data_city_center_order.loc[:half, 'user_cancelled']
sam2 = data_city_center_order.loc[half:, 'user_cancelled']
scipy.stats.ttest_ind(sam2, sam1)

Ttest_indResult(statistic=-0.7861692094257807, pvalue=0.4317715727231368)

In [5]:
dfs = (half - 1) + (half - 1)
scipy.stats.t.ppf(0.975, dfs)

1.9600048703935178

In [ ]:
"""
pvalue 0,82 больше 0,05, значит средние двух выборок равны.
табличное значение 1,96 больше statistic 0,78, значит средние двух выборок равны при условии их нормального распределения
"""