In [140]:
import pandas as pd
import numpy as np
import re
name = ['surgery', 'Age', 'Hospital Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 
        'peripheral_pulse', 'mucous_membranes', 
        'Source1', 'Past Usage1', 'Relevant1', 'Instances1', 'attributes1', '11', '22',
       'TItle2', 'Source2', 'Past Usage2', 'Relevant2', 'Instances2', 'attributes2', '12', '223',
       'TItle3', 'Source3', 'Past Usage3', 'Relevant3']
data = pd.read_csv('horse_data.csv', names = name, na_values='?') #Чтение файла с использованием названий столбцов
data_sort = data.loc[:, 'surgery': 'mucous_membranes'] #Вывод нужных 8 столбцов
#data_sort_fill = data.loc[:, 'surgery': 'mucous_membranes'] #Отдельный файл для заполнения пропусков

#data_sort = data_sort.replace(r'\?', np.nan, regex = True) #Замена '?' на NaN

In [146]:
for col in data_sort.columns:
    pct_missing = data_sort[col].isna().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.3%
Age - 0.0%
Hospital Number - 0.0%
rectal_temperature - 20.0%
pulse - 8.0%
respiratory_rate - 19.3%
temperature_of_extremities - 18.7%
peripheral_pulse - 23.0%
mucous_membranes - 15.7%

In [142]:
data_sort.describe()

,surgery,Age,Hospital Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes
count,299.000000,300.000000,3.000000e+02,240.000000,276.000000,242.000000,244.000000,231.000000,253.000000
mean,1.397993,1.640000,1.085889e+06,38.167917,71.913043,30.417355,2.348361,2.017316,2.853755
std,0.490305,2.173972,1.529801e+06,0.732289,28.630557,17.642231,1.045054,1.042428,1.620294
min,1.000000,1.000000,5.184760e+05,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,5.289040e+05,37.800000,48.000000,18.500000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,5.303055e+05,38.200000,64.000000,24.500000,3.000000,2.000000,3.000000
75%,2.000000,1.000000,5.347275e+05,38.500000,88.000000,36.000000,3.000000,3.000000,4.000000
max,2.000000,9.000000,5.305629e+06,40.800000,184.000000,96.000000,4.000000,4.000000,6.000000

In [143]:
for key, value in data_sort.items():
    print('Значение моды: ', value.round().mode()[0])

Значение моды:  1.0
Значение моды:  1
Значение моды:  527544
Значение моды:  38.0
Значение моды:  48.0
Значение моды:  20.0
Значение моды:  3.0
Значение моды:  1.0
Значение моды:  1.0

In [151]:
q1 = data_sort.surgery.quantile(0.25)
q3 = data_sort.surgery.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_sort[data_sort.surgery.between(lower_bound, upper_bound, inclusive = True)]
pd.concat([data_sort, remove_outliers]).drop_duplicates(keep = False)

#Единственный выброс - Nan. Заполню значением моды

Empty DataFrame
Columns: [surgery, Age, Hospital Number, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, peripheral_pulse, mucous_membranes]
Index: []

In [150]:
data_sort.surgery.replace(np.NaN, data_sort.surgery.round().mode()[0], inplace = True) #Заменяю пропус модой

In [154]:
q1 = data_sort.Age.quantile(0.25)
q3 = data_sort.Age.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_sort[data_sort.Age.between(lower_bound, upper_bound, inclusive = True)]
pd.concat([data_sort, remove_outliers]).drop_duplicates(keep = False)

#Выбросы больше допустимых значений. Заполню значением "2", т.к. это значение прописано в описании, но нигде не фигурирует,
#поэтому, возможно, вместо 2 указано 9

,surgery,Age,Hospital Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes
3,1.0,2,5290409,39.1,164.0,84.0,4.0,1.0,6.0
9,2.0,2,5299629,38.3,90.0,NaN,1.0,NaN,1.0
13,2.0,2,5291329,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,2,5301219,NaN,128.0,36.0,3.0,3.0,4.0
23,1.0,2,534998,38.3,130.0,60.0,NaN,3.0,NaN
39,1.0,2,5277409,39.2,146.0,96.0,NaN,NaN,NaN
41,2.0,2,5288249,39.0,150.0,72.0,NaN,NaN,NaN
55,1.0,2,5282839,38.6,160.0,20.0,3.0,NaN,5.0
74,1.0,2,5292929,NaN,NaN,NaN,NaN,NaN,NaN
75,1.0,2,534092,39.7,100.0,NaN,3.0,3.0,5.0
82,1.0,2,5290759,38.1,100.0,80.0,3.0,1.0,2.0
103,1.0,2,5292489,38.0,140.0,68.0,1.0,1.0,1.0
109,1.0,2,5297379,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,2,5287179,38.1,136.0,48.0,3.0,3.0,3.0
191,2.0,2,5287279,NaN,100.0,44.0,2.0,1.0,1.0
212,1.0,2,5294369,38.9,120.0,30.0,1.0,3.0,2.0
227,1.0,2,5289419,NaN,NaN,NaN,NaN,NaN,NaN
229,1.0,2,534597,38.5,120.0,70.0,NaN,NaN,NaN
244,1.0,2,5291409,38.2,124.0,88.0,1.0,3.0,2.0
252,1.0,2,5291719,38.8,124.0,36.0,3.0,1.0,2.0
255,1.0,2,5294539,38.8,184.0,84.0,1.0,NaN,1.0
262,2.0,2,5305629,38.6,88.0,28.0,NaN,NaN,NaN
275,1.0,2,5297159,38.8,150.0,50.0,1.0,3.0,6.0
287,2.0,2,5305129,39.5,84.0,30.0,NaN,NaN,NaN

In [153]:
data_sort.Age = data_sort.Age.replace(9, 2) #Заменяю 9 на 2

In [163]:
q1 = data_sort.rectal_temperature.quantile(0.25)
q3 = data_sort.rectal_temperature.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_sort[data_sort.rectal_temperature.between(lower_bound, upper_bound, inclusive = True)]
pd.concat([data_sort, remove_outliers]).drop_duplicates(keep = False)
#print(q1, q3)
#Нормальная температура лошади считается 37,2 - 38,5
#Выбросы меньше 37,2 заменяю на моду (меньше средней температуры), выше 38,5 оставляю, т.к., скорее всего, говорят о болезни

,surgery,Age,Hospital Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes
12,1.0,1,528031,37.2,42.0,12.0,2.0,1.0,1.0
19,2.0,1,532110,39.4,110.0,35.0,4.0,3.0,6.0
20,1.0,1,530157,39.9,72.0,60.0,1.0,1.0,5.0
31,2.0,1,530242,37.2,108.0,12.0,3.0,3.0,4.0
32,1.0,1,529427,37.2,60.0,NaN,2.0,1.0,1.0
49,2.0,1,529642,37.2,84.0,48.0,3.0,3.0,5.0
75,1.0,2,534092,39.7,100.0,NaN,3.0,3.0,5.0
99,2.0,1,530002,39.6,108.0,51.0,3.0,3.0,6.0
117,2.0,1,5290482,39.5,NaN,NaN,3.0,3.0,4.0
120,1.0,1,528682,39.4,54.0,66.0,1.0,1.0,2.0
151,1.0,1,529399,39.3,NaN,NaN,4.0,3.0,6.0
162,2.0,1,535176,39.5,60.0,10.0,3.0,NaN,NaN
165,1.0,1,534925,39.4,120.0,48.0,NaN,NaN,5.0
186,1.0,1,5278331,39.3,64.0,90.0,2.0,3.0,1.0
203,2.0,1,529685,37.2,36.0,9.0,1.0,1.0,1.0
231,2.0,1,530028,39.5,92.0,28.0,3.0,3.0,6.0
250,1.0,1,535043,39.3,100.0,51.0,4.0,4.0,6.0
259,1.0,1,527734,40.8,72.0,42.0,3.0,3.0,1.0
269,1.0,1,527883,39.3,64.0,90.0,2.0,3.0,1.0
281,2.0,1,530624,40.0,78.0,NaN,3.0,3.0,5.0
287,2.0,2,5305129,39.5,84.0,30.0,NaN,NaN,NaN
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0
299,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN

In [157]:
for i in data_sort.rectal_temperature: #Заменяю модой выбросы
    if i < 37.2:
        data_sort.rectal_temperature = data_sort.rectal_temperature.replace(i, data_sort.rectal_temperature.round().mode()[0])

In [162]:
data_sort.rectal_temperature.replace(np.NaN, data_sort.rectal_temperature.median(), inplace = True) #Заполнил пропуски медианой

In [166]:
q1 = data_sort.pulse.quantile(0.25)
q3 = data_sort.pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_sort[data_sort.pulse.between(lower_bound, upper_bound, inclusive = True)]
pd.concat([data_sort, remove_outliers]).drop_duplicates(keep = False)
#print(q1, q3)

#Средний пуль взрослой лошади 28-44, жеребенка 80-100. При максимальной нагрузке может доходить до 250. Могли ли замеры сниматься при нагрузке?
#Все выбросы у жеребят. Оставляю

,surgery,Age,Hospital Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes
3,1.0,2,5290409,39.1,164.0,84.0,4.0,1.0,6.0
41,2.0,2,5288249,39.0,150.0,72.0,NaN,NaN,NaN
55,1.0,2,5282839,38.6,160.0,20.0,3.0,NaN,5.0
255,1.0,2,5294539,38.8,184.0,84.0,1.0,NaN,1.0
275,1.0,2,5297159,38.8,150.0,50.0,1.0,3.0,6.0

In [165]:
data_sort.pulse.replace(np.NaN, data_sort.pulse.median(), inplace = True) #Заполнил пропуски медианой

In [167]:
q1 = data_sort.respiratory_rate.quantile(0.25)
q3 = data_sort.respiratory_rate.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_sort[data_sort.respiratory_rate.between(lower_bound, upper_bound, inclusive = True)]
pd.concat([data_sort, remove_outliers]).drop_duplicates(keep = False).head(40)
#print(q1, q3)
#Средняя частота дыхания взрослой лошади 10-24, жеребенка 20-40. Могли ли замеры сниматься при нагрузке? Оставляю

,surgery,Age,Hospital Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes
3,1.0,2,5290409,39.1,164.0,84.0,4.0,1.0,6.0
5,2.0,1,528355,38.2,64.0,NaN,2.0,1.0,3.0
7,1.0,1,529607,38.2,60.0,NaN,3.0,NaN,NaN
9,2.0,2,5299629,38.3,90.0,NaN,1.0,NaN,1.0
28,1.0,1,5279442,38.2,64.0,NaN,NaN,NaN,NaN
29,2.0,1,535415,37.7,48.0,NaN,2.0,1.0,1.0
32,1.0,1,529427,37.2,60.0,NaN,2.0,1.0,1.0
37,1.0,1,533847,37.8,72.0,NaN,NaN,3.0,NaN
38,2.0,1,528996,38.6,52.0,NaN,1.0,1.0,1.0
39,1.0,2,5277409,39.2,146.0,96.0,NaN,NaN,NaN
40,1.0,1,529498,38.2,88.0,NaN,3.0,3.0,6.0
41,2.0,2,5288249,39.0,150.0,72.0,NaN,NaN,NaN
43,1.0,1,534069,38.2,120.0,NaN,3.0,4.0,4.0
45,2.0,1,529827,38.2,120.0,NaN,4.0,3.0,4.0
50,2.0,1,529766,38.6,46.0,NaN,1.0,1.0,2.0
52,2.0,1,529483,38.2,64.0,NaN,1.0,1.0,3.0
56,1.0,1,528872,38.2,64.0,NaN,NaN,NaN,NaN
61,2.0,1,527957,38.5,60.0,NaN,2.0,2.0,1.0
66,2.0,1,534784,37.9,72.0,NaN,1.0,1.0,5.0
72,1.0,1,5299253,37.7,56.0,NaN,NaN,NaN,NaN
74,1.0,2,5292929,38.2,64.0,NaN,NaN,NaN,NaN
75,1.0,2,534092,39.7,100.0,NaN,3.0,3.0,5.0
81,1.0,1,534756,37.3,40.0,NaN,NaN,3.0,1.0
82,1.0,2,5290759,38.1,100.0,80.0,3.0,1.0,2.0
84,1.0,1,529849,37.8,60.0,80.0,1.0,3.0,2.0
93,2.0,1,530310,38.2,64.0,NaN,3.0,3.0,1.0
103,1.0,2,5292489,38.0,140.0,68.0,1.0,1.0,1.0
106,1.0,1,528668,38.3,52.0,96.0,NaN,3.0,3.0
112,1.0,1,534963,38.2,40.0,NaN,2.0,1.0,1.0
117,2.0,1,5290482,39.5,64.0,NaN,3.0,3.0,4.0
120,1.0,1,528682,39.4,54.0,66.0,1.0,1.0,2.0
125,1.0,1,528461,38.0,42.0,68.0,4.0,1.0,1.0
126,1.0,1,530384,38.7,64.0,NaN,3.0,1.0,3.0
129,1.0,1,527698,38.4,49.0,NaN,NaN,NaN,1.0
134,1.0,1,527524,38.2,100.0,NaN,3.0,NaN,4.0
137,1.0,1,534324,38.0,48.0,NaN,1.0,1.0,1.0
138,2.0,1,532349,38.0,56.0,NaN,1.0,2.0,3.0
142,1.0,1,530402,38.2,120.0,NaN,4.0,3.0,6.0
146,1.0,1,534115,38.2,48.0,NaN,1.0,3.0,3.0
148,1.0,1,529272,38.3,132.0,NaN,NaN,3.0,6.0

In [168]:
data_sort.respiratory_rate.replace(np.NaN, data_sort.respiratory_rate.median(), inplace = True) #Заполнил пропуски медианой

In [172]:
q1 = data_sort.temperature_of_extremities.quantile(0.25)
q3 = data_sort.temperature_of_extremities.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_sort[data_sort.temperature_of_extremities.between(lower_bound, upper_bound, inclusive = True)]
pd.concat([data_sort, remove_outliers]).drop_duplicates(keep = False).head(40)
#print(q1, q3)
#Все выбросы - Nan. Надо заполнить

Empty DataFrame
Columns: [surgery, Age, Hospital Number, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, peripheral_pulse, mucous_membranes]
Index: []

In [173]:
data_sort.temperature_of_extremities.replace(np.NaN, data_sort.temperature_of_extremities.round().mode()[0], inplace = True) #Заменяю пропус модой

In [176]:
q1 = data_sort.peripheral_pulse.quantile(0.25)
q3 = data_sort.peripheral_pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_sort[data_sort.peripheral_pulse.between(lower_bound, upper_bound, inclusive = True)]
pd.concat([data_sort, remove_outliers]).drop_duplicates(keep = False).head(40)
#print(q1, q3)
#Все выбросы - Nan. Надо заполнить

Empty DataFrame
Columns: [surgery, Age, Hospital Number, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, peripheral_pulse, mucous_membranes]
Index: []

In [175]:
data_sort.peripheral_pulse.replace(np.NaN, data_sort.peripheral_pulse.round().mode()[0], inplace = True) #Заменяю пропус модой

In [179]:
q1 = data_sort.mucous_membranes.quantile(0.25)
q3 = data_sort.mucous_membranes.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = data_sort[data_sort.mucous_membranes.between(lower_bound, upper_bound, inclusive = True)]
pd.concat([data_sort, remove_outliers]).drop_duplicates(keep = False).head(40)
#print(q1, q3)
#Все выбросы - Nan. Надо заполнить

Empty DataFrame
Columns: [surgery, Age, Hospital Number, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, peripheral_pulse, mucous_membranes]
Index: []

In [178]:
data_sort.mucous_membranes.replace(np.NaN, data_sort.mucous_membranes.round().mode()[0], inplace = True) #Заменяю пропус модой

In [181]:
data_sort

,surgery,Age,Hospital Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,1.0
1,1.0,1,534817,39.2,88.0,20.0,3.0,1.0,4.0
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0
3,1.0,2,5290409,39.1,164.0,84.0,4.0,1.0,6.0
4,2.0,1,530255,37.3,104.0,35.0,3.0,1.0,6.0
...,...,...,...,...,...,...,...,...,...
295,1.0,1,533886,38.2,120.0,70.0,4.0,1.0,4.0
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0
297,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0
298,1.0,1,530612,38.0,100.0,24.0,3.0,3.0,3.0
299,1.0,1,534618,37.2,40.0,20.0,3.0,1.0,1.0